:root {
  --mainFontFamily: Cursive !important;
  --mainFontSize: 14px!important;
  --mainLetterSpacing:0.5px!important;
  --mainFontWeight:700 !important;  
  /* --mainColor:#060b26 !important;
  --subColor:#1a83ff !important */
  --mainColor:#1a83ff !important;
  --subColor:cornflowerblue !important
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--mainFontFamily);
  font-size: var(--mainFontSize);
}

.main-page{
  /* display: flex;;
  height: 90vh;
  align-items: center;
  justify-content: center; */
  font-size: var(--mainFontSize);
  padding: 20px;
}

.white-color{
  color: #fff;
}

.ml-200{
  margin-left: 200px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.rdt_Table{  
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.main-color{ 
  color: var(--mainColor) !important;
 }
 .main-back-color{ 
  background-color: var(--mainColor) !important;
 }

 .second-back-color{
  background-color: var(--subColor) !important;
 }

.jMeWFj{
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.MuiCard-root{
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.rdt_TableHeadRow{
  background-color: var(--mainColor) !important;
  opacity: 0.7;
}

.rdt_TableCol_Sortable{
  color: #fff !important;

}

.sub-header{
  background: var(--mainColor) !important;
  opacity: 0.7;
  margin-top: -20px !important;
  margin-left: -20px !important;
  margin-right: -20px !important;
  height: 50px !important;
  color: #fff;
  line-height: 50px;
}

.sub-header span{
  padding-right: 10px;
  cursor: pointer;
}

.MuiButton-contained {
background-color: var(--mainColor) !important;
color: #fff !important;
}

.p-8{
padding: 8px;
}
.p-16{
  padding: 16px;
  }
  .p-36{
    padding: 16px;
    }
  .pt-16{
  padding-top: 16px;
  }
  .pt-36{
    padding-top: 36px;
    }
 .pl-8{
    padding-left: 8px;
 }
 .pb-8{
  padding-bottom: 8px;
}
.pr-16{
  padding-right: 16px;
}

.m-8{
  margin: 8px;
}
.m-16{
  margin: 16px;
}
.mt-8{
margin-top: 8px;
}
.mt-16{
  margin-top: 16px;
  }
.pb-16{
 padding-bottom: 16px;
 }  

  .full-width{
    width: 100%;
  }

  .width-33{
    width: 33%;
  }

  .width-50{
    width: 50%;
  }

  .width-25{
    width: 25%;
  }

  .width-95{
    width: 95%;
  }

  .width-5{
    width: 5%;
  }

  .dialog-title{
    font-family: var(--mainFontFamily);
    font-size: var(--mainFontSize);
    background-color: var(--mainColor) !important;
    text-align: left;
    color: #fff;
    margin: -16px !important;
    text-transform: uppercase;
  }

  .form{
    padding-top: 22px !important;
  }

  .MuiTypography-h6 {
    font-family: var(--mainFontFamily) !important;
    font-size: var(--mainFontSize) !important;
    background-color: var(--mainColor) !important;
    text-align: center;
    color: #fff;
  }

  .MuiInputBase-root {
    font-family: var(--mainFontFamily) !important;
    font-size: var(--mainFontSize) !important;
  }

  .MuiFormLabel-root {
    font-family: var(--mainFontFamily) !important;
    font-size: var(--mainFontSize) !important;
  }  

  .MuiFormHelperText-root {
    font-family: var(--mainFontFamily) !important;
    font-size: 12px !important;
    color: red !important;
  }

  .MuiButton-root {
    padding: 5px 5px 5px 0px;
  }

  .MuiButton-label{
    margin-left: 0px !important;
  }

  .MuiPaper-root {
    padding: 16px !important;
  }

  .flex{
    display: flex;
  }

  .MuiDialogTitle-root{
    padding: 0px !important;
  }

  .font-size-30{
    font-size: 30px;
  }

  svg{
    cursor: pointer;
    font-size: 20px;
    /* padding-right: 5px; */
  }

  .MuiMenuItem-root svg{
    color: var(--mainColor) !important;
    /* padding-right: 5px; */
  }

  .login-mt{
    margin-top: 20%;
  }

  .hgt-100{
    height: 100% !important;
  }

  .absolute{
    position: absolute;
  }

  .relative{
    position: relative;
  }

  .pointer{
    cursor: pointer !important;
  }

  .card{
    box-shadow: 10px 10px 5px gray;
    justify-content: center;
    width: 50%;
    height: 50%;
  }